/* External CSS or <style> tag inside your React component */

.main{
   
    /*height: 150vh; /* Sets the height to 150% of the viewport height 
    width: 75vw; /* Sets the width to 75% of the viewport width 
    margin-top: 30px;
    margin-bottom:50px;
    /* margin-left: -100px; Uncomment if needed */
}
.countdown{
  
 
  color: white;
  margin-top: 150px;
  
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  font-weight: bold;
  background-color: rgba(0,0,0,0.25);
  padding:75px;

  

}
table {
 
  border-collapse: collapse; /* Removes spacing between cells */
  table-layout: fixed; /* Forces equal column width */
}

th, td {
 
 
  line-height: 1; /* Reduces the height of text blocks */
  word-wrap: break-word; /* Wrap long words */
  overflow-wrap: break-word;
  white-space: normal; /* Allow wrapping */
}



.countdown td{
  font-size: 10rem;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.countdown th{
  text-align: center;
  
  font-size:1.5rem;
 
}



/* Media query to handle mobile display */
@media (max-width: 424px) {
  .countdown{
    margin-top: 100px;
    padding: 10px 5px;
  }
  .countdown td{
    font-size: 3rem;
   
  }
  
  .countdown th{
   
   
    font-size:1rem;
   
  }
}
  

    
  