.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.25);
    align-items: center;
    color: white;
    z-index: 1000;
    height: 40px; /* Reduced height */
    
}

.logo {
    font-size: 24px;
    padding-left: 20px;
    padding-top: 10px;
    
}

.menuIcon {
    display: none; /* Default to not display */
    font-size: 48px;
    cursor: pointer;
    padding: 40px 20px 10px 20px;
    background-color: rgba(0,0,0,0.9);
}

/* Media query to handle mobile display */
@media (max-width: 424px) {
    .menuIcon {
        display: block;
    }

    .navLinks {
        display: none;
    }
    .nav{
        background-color: rgba(0,0,0,0);
       
       

    }
    .logo {
        display:none;
    }
}

/* For desktop and larger devices */
@media (min-width: 425px) {
    .navLinks {
        list-style: none;
        display: flex;
        gap: 15px;
        padding-right: 20px;
       
    }
    
    
}

.dropdownMenu {
   
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    
    padding: 10px 0;
    text-align: center;
    background-color: rgba(0,0,0,0.90);
}

/* A class to toggle visibility of the dropdown menu */
.showDropdown {
    display: block;
}

.dropdownItem {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    background-color: rgba(0,0,0,0.25);
    font-size: 2rem;
    
}



.link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
