.background {
    color: red;
    background-color: blue;
    z-index: 0;
    height:80vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img{
    background-size: "cover";
    padding-bottom: 50px;
}


